{% extends "layout.html" %}

{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <h1 class="form-group">{{ 'Login'|trans }}</h1>
        {% if error %}
        <div class="alert alert-error bg-warning text-center">{{ error|nl2br }}</div>
        {% endif %}
        {{ form_start(form, {'action': path('check_login'), attr: {'class': 'form-horizontal login-form' } }) }}
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                {{ form_widget(form._username) }}
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                {{ form_widget(form._password) }}
            </div>

            <div class="form-group">
                <div class="col-sm-12 controls">

                    {% if allowRememberMe %}
                    <div>   
                        <label class="checkbox">
                            <input type="checkbox" name="_remember_me" value="true" checked>&nbsp;&nbsp; {{ 'Remember me'|trans }}
                        </label>
                    </div>
                    {% endif %}
                    {{ form_widget(form.submit) }}
                </div>
            </div>
            {{ form_widget(form._target_path) }}     
        {{ form_end(form) }}

    </div>
{% endblock %}
